OPENCLAW_CONFIG_DIR=/root/.openclaw
OPENCLAW_WORKSPACE_DIR=/root/.openclaw/workspace
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_BRIDGE_PORT=18790
OPENCLAW_GATEWAY_BIND=lan
OPENCLAW_GATEWAY_TOKEN=your-gateway-token-here
OPENCLAW_IMAGE=openclaw:local
OPENCLAW_ALLOW_INSECURE_PRIVATE_WS=

# Control UI
OPENCLAW_CONFIG_GATEWAY_CONTROLUI_ALLOWEDORIGINS=["https://openclaw.sk-techlab.com","http://160.251.200.109:18789","http://127.0.0.1:18789","http://localhost:18789"]
